@use '../critical/helpers/var'as *;

article.profile-peroson{
    float: right;
    width: 100%;
    background: $secondary;

    color: #fff;
    position: relative;

    .title {
        h2 {
            background: $secondary;
            color: #fff;
        }

        &:before {
            background-color: $secondary;
        }
    }

    .profile-cover {
        float: right;
        width: 100%;


        padding: 20px 0;
        padding-bottom: 0;
 

        .img-cont.cover {
             width: 100%;

             @media(max-width:767px){
img{
    object-fit: contain;
}
             }

            @media(min-width: 768px){
     width: 50%;
            }

            img {
                z-index: 2;
            }
            &:after{
                @media(max-width: 767px){
                    background-position-y: 0;
                }
                @media(min-width: 768px){
       padding-top: 844px;
                }
         
          background: url(../images/favicon.png) no-repeat;
    background-size: contain;
    background-position-y: -54px;
    opacity: 0.3;
  
    z-index: 0;

            }

        }

        .cover-cont {
            float: right;
            width: 100%;
            @media(min-width: 768px){
     width: 50%;
            }
       
h1{
font-size: 30px;
margin-bottom: 20px;
@media(min-width: 1200px){
    font-size: 42px;
}
}



h4{
    border-top: 1px solid $primary;
display: block;
float:right;
width: 100%;
    font-size: 16px;
  
    line-height: 32px;
   

}

.updated{
    float: right;
    width: 100%;
    text-align: right;
    line-height: 32px;
    margin-bottom: 10px;
    border-top:1px solid $primary;
    border-bottom:1px solid $primary;
    .icon {
        fill: #fff;
    }
}
.post-share{
   display: block;
   text-align: right;
   margin-bottom: 20px;
   .mobile-native{
       border-radius: 20px;
       color: #fff;
   }

   a{
       background-color: transparent;
       border:1px solid $primary;
   }
}

.info {float: right;
width: 100%;
margin-bottom: 20px;

.item{
    float: right;
    width: 100%;
    line-height: 32px;
}
.name {
    float: right;
    width: 50px;

}
.val {
    float: right;
    width: calc(100% - 50%);
    font-weight:bolder;
}
}

             blockquote  {

                float: right;
                width: 100%;
                margin:30px 0;
                position: relative;

                border:1px solid $primary;

                padding: 25px;
                text-align: right;
                line-height:32px;
             

                &:before {
                  content: '"';
    width: 42px;
    height: 42px;
    border-radius: 50%;
    text-align: center;
    line-height: 75px;
    font-size: 85px;
    color: #fff;
    background: #b1833d;
    position: absolute;
    top: -23px;
    right: 16px;
    font-family: cursive;
    padding-right: 9px;
                }
                &:after {
                  content: '" ';
    width: 42px;
    height: 42px;
    border-radius: 50%;
    text-align: center;
    line-height: 75px;
    font-size: 285px;
    color: $primary;
   
    position: absolute;
    bottom: 20px;
    left: 70px;
    font-family: cursive;
    padding-right: 9px;
    opacity: 0.3;

                }

            }
        }
    }

    .career ,.prizes {
        float: right;
        width: 100%;
        background: #242220;
        @media(min-width: 1200px){
            border-radius: 220px;
        }
         .title {
        h2 {
            background: #242220;
            color: #fff;
        }

        &:before {
            background-color: #242220;
        }
    }

    }









}


.career-swiper{
   .swiper-slide {
         width: 280px;
         float:right;
   }
}

.item-career{
    float: right;
    width: 280px;

    position: relative;


    &:before {
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: $primary;
        position: absolute;
        top: 30px;
    }

    .date {
        float: right;
        width: 100%;
        margin-bottom: 20px;
        font-weight: bold;
    }


    .info {
        float: right;
        width: 100%;
        border-radius: 10px;
        margin-top: 20px;
        border:1px solid $primary;

        padding: 10px;
        text-align: right;
        color: #fff;
        line-height: 32px;
    }


}

