@use '../critical/helpers/var'as *;

article.profile-peroson{
    float: right;
    width: 100%;
    background: $secondary;

    color: #fff;

    .title {
        h2 {
            background: $secondary;
            color: #fff;
        }

        &:before {
            background-color: $secondary;
        }
    }

    .profile-cover {
        float: right;
        width: 100%;


        padding: 20px 0;
        padding-bottom: 0;
 

        .img-cont.cover {
            width:  50%;

            img {
                z-index: 2;
            }
            &:after{
                padding-top: 844px;
          background: url(../images/favicon.png) no-repeat;
    background-size: contain;
    background-position-y: -54px;
    opacity: 0.3;
  
    z-index: 0;

            }

        }

        .cover-cont {
            float: right;
            width: 50%;


             blockquote  {

                float: right;
                width: 100%;
                margin:30px 0;
                position: relative;

                border:1px solid $primary;

                padding: 25px;
                text-align: right;
                line-height:32px;
             

                &:before {
                  content: '"';
    width: 42px;
    height: 42px;
    border-radius: 50%;
    text-align: center;
    line-height: 75px;
    font-size: 85px;
    color: #fff;
    background: #b1833d;
    position: absolute;
    top: -23px;
    right: 16px;
    font-family: cursive;
    padding-right: 9px;
                }
                &:after {
                  content: '" ';
    width: 42px;
    height: 42px;
    border-radius: 50%;
    text-align: center;
    line-height: 75px;
    font-size: 285px;
    color: $primary;
   
    position: absolute;
    bottom: 20px;
    left: 70px;
    font-family: cursive;
    padding-right: 9px;
    opacity: 0.3;

                }

            }
        }
    }

    .career ,.prizes {
        float: right;
        width: 100%;
        background: #242220;
        @media(min-width: 1200px){
            border-radius: 220px;
        }
         .title {
        h2 {
            background: #242220;
            color: #fff;
        }

        &:before {
            background-color: #242220;
        }
    }

    }





}

