@use '../critical/helpers/var'as *;


.topstory {
    float: right;
    width: 100%;
    margin-bottom: 20px;

    .swiper-container {
        padding-bottom: 0 !important;
    }




    .item-bg {
  margin-bottom: 0;
        .img-cont {
        &:before {
            opacity: 0;
        }

        &:after {

           padding-top: 75%;
            @media(min-width: 768px){
                padding-top: 60%;
            }
            @media(min-width: 1200px){
                padding-top: 640px;
            }
        }
        }
        .txt-cont {
            padding-bottom: 40px;

bottom: 0;
            background: rgba($third, 0.63);
          
            text-align: center;

            @media(min-width: 768px){
         border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            opacity: 0;
            bottom: -300px;
            transition: all 1s ease-in;
            }

   
            .clearfix {
                width: 100%;height: 1;
            }

            .cat{
                @media(min-width: 768px){
    font-size: 18px;
                }
            
            }

            h3{
                
                height: auto;
                max-height: fit-content !important;
                display: inline-block;
                max-width: 768px;
                float: none;
                


                @media(min-width: 768px){
     font-size: 33px;
                line-height: 50px;
                }

           
                
            }
        }
    }


    .swiper-slide-active {
        .item-bg {
            .txt-cont {
                bottom: 0;
                opacity: 1;
            }
        }
    }
}