

.top-banks{
background: #f4f4f4;
border-bottom: 1px solid #dcdcdc;

.title{
    &:before{
        background-color: #f4f4f4;
    }
    h2{
        background:#f4f4f4;
    }
}
 .tp-swiper {
     text-align: center;
    .swiper-slide{
        width: 300px !important;

        @media(min-width: 768px){
            width: 340px !important;
        }

    }
    .item-top-bank {
        display: inline-block;
        width: 100% !important;
    }
     .swiper-pagination {
     border-top: 1px solid transparent !important; 
 }


.tp-nxt,
.tp-prv {
    position: relative;
    width: 32px;
    height: 32px;

    top: auto;
    bottom: -31px;
    z-index: 33;
    opacity: 0;
}


.tp-nxt{
float: left;
}

.tp-prv{
    float:right;
}

 }



}