@use '../../critical/helpers/var'as *;
.col-video {
    .cont {
        background: #333;
        padding: 30px;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            @media(max-width: 991px) {
                width: 100%;
                height: 20px;
                background: url(../images/reel-h.png) repeat-x center;
            }
            right: 0;
            top:0;
            background: url(../images/reel-v.png) repeat-y center;
            width: 20px;
            height: 100%;
        }
        &:after {
            position: absolute;
            content: "";
            @media(max-width: 991px) {
                width: 100%;
                height: 20px;
                background: url(../images/reel-h.png) repeat-x center;
            }
            left:0;
            top:0;
            background: url(../images/reel-v.png) repeat-y center;
            width: 20px;
            height: 100%;
        }
        .item-bg {}
    }
}