$secondary: #00B9FF !default;

$primary:#B1833D !default;
$third:#32302D !default;


$border-color:#dcdcdc !default;


$border-radius: 5px !default;

$fb: #3b5998 !default;
$tw: #1da1f2 !default;
$ins: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%) !default;
$rss : orange !default;
$yt: #d32323 !default;
$ws: #25d366 !default;
$viber: #8176d6 !default;
$tel: #39a7da !default;

$box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !default;


$graidient : linear-gradient(to left, #084F88 0%, #042844 100%) !default;