@use '../../critical/helpers/var'as *;


.topstory {

    float        : right;
    width        : 100%;
    text-align   : center;
    background   : #fff;
    border-radius: 10px;
    position: relative;
    margin-bottom: 20px;
    box-shadow   : $box-shadow-sm,
        $box-shadow-sm;

    .swiper-container {
        box-shadow: $box-shadow-sm, $box-shadow-sm;

        border-bottom-left-radius: 10px;
        border-bottom-left-radius: 10px;

        margin-bottom: 20px;

        .swiper-pagination {
            .swiper-pagination-bullet {
                background: $primary;


            }

            .swiper-pagination-bullet-active {
                background: $secondary;
            }
        }
    }

    .list {
        float  : right;
        width  : 100%;
        padding: 10px;
    }
}