body.dark-mode {
    background: #242f4c;
    .light-logo {
        display: inline-block
    }
    .dark-logo {
        display: none;
    }
    header {
        background: transparent;
        .admin {
            color: #fff;
            .name {
                color: #fff;
            }
        }
    }
    .cont,
    .block {
        background: transparent;
    }
    .block .foot a.more {
        color: #fff !important;
    }
    .item-card,
    .item-li {
        background: #141A28;
        .txt-cont {
            background: #141A28;
            h3 {
                color: #fff;
            }
        }
    }
    .item-article {
        .writer {
            color: #fff;
        }
        .txt-cont {
            background: #141A28;
            h3 {
                color: #fff;
            }
        }
    }
    .voteform {
        .formq {
            background: #141A28;
            color: #fff !important;
        }
        .progress-bar {
            background: #c12b25 !important;
        }
        label {
            color: #fff !important;
        }
    }
    .news-article {
        background: #141A28;
        article.cont {
            background: #141A28;
            .related-inline {
                background: #242f4c;
                border: 1px solid #242f4c;
            }
            .pre-title,
            h1,
            .author a,
            .article-author .name,
            time,
            .mobile-native,
            .paragraph-list *,
            .keywords a {
                color: #fff !important;
            }
        }
    }
    .share-bottom {
        border: 1px solid #242f4c;
        background: #242f4c;
    }
    .nc-mogaz .cont {
        background: transparent !important;
    }
}