@use '../critical/helpers/var'as *;
//components
@use '../components/col/poll';
@use '../components/col/top-read';
@use '../components/nc/nclist';
@use '../components/nt/topstory-swiper';
//plugins    
.breadcrumb {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0;
}

.rtl .breadcrumb-item+.breadcrumb-item,
[dir=rtl] .breadcrumb-item+.breadcrumb-item {
    padding-right: .5rem;
    padding-left: 0;
    color: #6c757d;
    content: "/";
}

.rtl .breadcrumb-item+.breadcrumb-item::before,
[dir=rtl] .breadcrumb-item+.breadcrumb-item::before {
    padding-right: 0;
    padding-left: .5rem;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: "/";
}

.nav-pagination {
    float: right;
    width: 100%;
    justify-content: center;
    .pagination {
        display: flex;
        padding-left: 0;
        padding-right: 0;
        list-style: none;
        flex-wrap: wrap;
    }
    .page-link {
        position: relative;
        display: block;
        color: $primary;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #dcdcdc;
        transition: all 0.35s ease;
        padding: .375rem .75rem;
        font-weight: bold;
        &:hover {
            z-index: 2;
            color: #fff;
            text-decoration: none;
            background-color: $primary;
            border-color: $primary;
        }
        &:focus {
            z-index: 3;
            color: #fff;
            text-decoration: none;
            background-color: $primary;
            border-color: $primary;
        }
    }
    .page-item {
        &:not(:first-child) .page-link {
            margin-right: 0;
        }
        &:last-child .page-link {
            border-top-left-radius: .25rem;
            border-bottom-left-radius: .25rem;
        }
        &:first-child .page-link {
            border-top-right-radius: .25rem;
            border-bottom-right-radius: .25rem;
        }
        &.active .page-link {
            z-index: 3;
            color: #fff;
            text-decoration: none;
            background-color: $primary;
            border-color: $primary;
        }
    }
}

.block.list {
    .foot {
        text-align: center;
        padding-top: 10px;
    }
}