@use '../helpers/var'as *;
.block {
    float: right;
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
    //border: 1px solid #dcdcdc;
    // background: #fff;
    position: relative;
    padding-top: 0;
    border-bottom: 1px solid $third;
    padding-bottom: 0;
    //   box-shadow: $box-shadow-sm;
    .title {
        float: right;
        width: 100%;
        padding: 8px 10px;
        //  background: #fff;
        position: relative;
        border-top: 1px solid $primary;
        padding-right: 0;
        // box-shadow: $box-shadow-sm;
        &:after {
            content: "";
            position: absolute;
            right: 0;
            width: 120px;
            top: -1px;
            height: 4px;
            background: $secondary;
        }
        /*
        &:before {
            content: "";
            width: 26px;
            height: 26px;

            position: absolute;
            bottom: 9px;
            right: 10px;
            background: url("../images/favicon.png") no-repeat center;
            background-size: contain !important;
            transition: all 1.35s;
            z-index: 33;

        }*/
        h2 {
            font-size: 1.2rem;
            line-height: 1.8rem;
            // background: #fff;
            display: inline-block;
            z-index: 23;
            position: relative;
            padding: 0 20px;
            color: $primary;
            font-weight: bolder;
            //   background: $secondary;
            //border-radius: 30px;
            line-height: 32px;
            transition: all 0.35s;
            @media(min-width: 1200px) {
                font-size: 1.7rem;
            }
            &:hover {
                background: $primary;
                color: #fff;
            }
        }
        .icon {
            position: absolute;
            left: 0;
            top: 13px;
            fill: $secondary;
            width: 40px;
            height: 25px;
            transition: all 0.35s;
            &:hover {
                transform: scale(1, 1);
            }
        }
    }
    .cont {
        float: right;
        width: 100%;
        padding: 5px;
        padding-top: 10px;
    }
    .foot {
        float: right;
        width: 100%;
        text-align: center;
        padding: 5px;
        display: none;
        // background-color: #fff;
        padding-bottom: 0;
        a {
            color: $primary;
            font-weight: bold;
            line-height: 24px;
            border: 1px solid $third;
            padding: 0px 45px;
            display: inline-block;
            font-size: 14px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom: 0;
            &:hover {
                background: $third;
                color: #fff;
            }
        }
    }
}