@use '../helpers/var'as *;
<<<<<<< HEAD

.block {
    float        : right;
    width        : 100%;
    margin-bottom: 30px;

    // border                      : 1px solid #dcdcdc;
    //background                : #fff;
    position                  : relative;
    padding                   : 0 15px;
    border-top-left-radius    : 0;
    border-top-right-radius   : 20px;
    border-bottom-left-radius : 20px;
    border-bottom-right-radius: 0;

    // border: 1px solid #DCDCDC;






    //   box-shadow: $box-shadow-sm;
    .title {
        float: right;
        width: 100%;

        position: relative;

        padding               : 10px 0;
        border-top-left-radius: 20px;


        //  background: url("../images/ptrn.png") no-repeat left center $primary;
        //  background-size: 60%;
        // border-bottom: 1px solid #dcdcdc;

        border-right: 5px solid $secondary;




        // padding-right: 25px;
        // box-shadow: $box-shadow-sm;

        h2 {
            font-size    : 1.3rem;
            line-height  : 1.8rem;
            color        : $primary;
            // background: #fff;
            display      : inline-block;
            z-index      : 23;
            position     : relative;
            //padding: 0 20px;

            font-weight        : bolder;
            //   background: $secondary;
            //  border-radius: 30px;
            line-height        : 28px;
            transition         : all 0.35s;
            //background       : $primary;


            padding: 0 15px;

            &:hover {
                // background: darkred;
            }
        }

        .more {

            position: absolute;
            padding : 0 20px;

            height       : 30px;
            left         : 10px;
            top          : 7px;
            border-radius: 50px;
            line-height  : 30px;

            font-size    : 14px;
            color        : #000;
            //background : #fff;
            border       : 1px solid $secondary;
            font-weight  : bolder;
            transition   : all 0.35s;
            text-align   : center;
            cursor       : pointer;

            display        : flex;
            justify-content: center;
            align-items    : center;

            .icon {
                width     : 25px;
                height    : 25px;
                fill      : $secondary;
                margin-top: 8px;
            }

            &:hover {
                background: $secondary;
                color     : #000;

                .icon {
                    fill: #000;
                }
=======
.block {
    float: right;
    width: 100%;
    margin-bottom: 20px;
    .title {
        float: right;
        width: 100%;
        line-height: 30px;
        border-bottom: 3px solid $primary;
        a {
            display: block;
            width: 100%;
            float: right;
            h2 {
                font-size: 24px;
                margin: 0;
                line-height: 40px;
                padding: 0;
                display: inline-block;
                color: #000;
            }
            svg.icon {
                float: left;
                width: 26px !important;
                height: 26px !important;
                margin-top: 10px;
            }
            &:hover {
                color: $primary;
                fill: $primary;
>>>>>>> 3ef62278f65874bb410451faea57be42d35419cf
            }
        }


    }
    .cont {
<<<<<<< HEAD
        float             : right;
        width             : 100%;
        //  padding       : 15px;
        padding-top       : 20px;
        padding-bottom    : 10px;
    }

    .foot {
        float              : right;
        width              : 100%;
        text-align         : left;
        padding            : 5px;
        // background-color: #fff;
        border-top         : 1px solid #dcdcdc;

        position: relative;

        &::before {
            content      : "";
            width        : 40px;
            height       : 3px;
            background   : $primary;
            position     : absolute;
            left         : 0;
            top          : -1px;
            border-radius: 30px;

        }

        a {
            color      : $primary;
            font-weight: bold;
            line-height: 28px;


            display  : inline-block;
            font-size: 16px;



            &:hover {
                background: $primary;
                color     : #fff;
            }
        }
    }
}


.swiper-pagination {
    bottom: 0;

    .swiper-pagination-bullet {
        background: $primary;


    }

    .swiper-pagination-bullet-active {
        background: $secondary;
    }
}


section {
    width  : 100%;
    padding: 30px 0;
    float  : right;

    &.drk {
        background-color: $primary;

        .title {

            h2,
            .more {
                color: #fff;
=======
        float: right;
        width: 100%;
        background: #fff;
        border: 1px solid #dcdcdc;
        padding: 10px;
    }
    .foot {
        float: right;
        width: 100%;
        a {
            display: block;
            float: right;
            width: 100%;
            text-align: left;
            color: #fff;
            fill: #fff;
            background: #3b3b3b;
            line-height: 32px;
            padding: 0 15px;
            .icon {
                fill: #fff;
            }
            &:hover {
                background: #5d5d5d;
>>>>>>> 3ef62278f65874bb410451faea57be42d35419cf
            }


        }
    }

    &.w {
        background-color: #fff;
    }

    .block {
        margin-bottom: 0;
    }
}