@use '../helpers/var'as *;
<<<<<<< HEAD

footer {
    float     : right;
    width     : 100%;
    background: #C7C7C7;
    position  : relative;
    overflow  : visible !important;

    &:before {
        content         : "";
        width           : 100%;
        top             : 0;
        left            : 0;
        height          : 4px;
        background-color: $secondary;
        position        : absolute;


        box-shadow: $box-shadow-sm2, $box-shadow-sm2;
    }

    text-align               : center;
    //  padding-top       : 10px;
    // content-visibility    : auto;
    margin-top               : 30px;

    .up {
        float         : right;
        width         : 100%;
        text-align    : center;
        padding-bottom: 10px;
        margin-top    : -10px;
        position      : relative;
        z-index       : 22;

        .btp {
            float        : right;
            width        : 32px;
            height       : 32px;
            background   : #fff;
            border-radius: 50%;
            box-shadow   : $box-shadow-sm, $box-shadow-sm, $box-shadow-sm;
            text-align   : center;
            line-height  : 32px;

            .icon {
                fill     : $secondary;
                transform: rotate(90deg);
                width    : 13px;
                height   : 13px;

            }

            &:hover {
                background: $primary;

                .icon {
                    fill: #fff;
                }
            }
        }

    }

    .top {
        float             : right;
        width             : 100%;
        // border-bottom: 1px solid  #707070;
        text-align        : center;
        display           : inline-flex;
        //background      : #fff;

        align-items    : center;
        justify-content: center;

        @media(max-width: 1299px) {
            flex-wrap     : wrap;
            flex-direction: column;
        }

        .container {
            display        : flex;
            align-items    : center;
            justify-content: space-between;
        }

        .search-form {
            display: none;

            @media(min-width: 768px) {
                display: inline-block;
            }
        }

        .logo-area {

            float: right;
            width: auto;


            .logo {
                height : 70px;
                display: block;
                margin : 10px 0;

=======
footer {
    float: right;
    width: 100%;
    background: url(../images/sitemap.gif) #fff;
    text-align: center;
    padding-top: 10px;
    content-visibility: auto;
    .footer-top {
        float: right;
        width: 100%;
        border-bottom: 1px solid #000;
        text-align: right;
        padding: 5px 0;
        .cd-top {
            color: #fff;
            display: inline-block;
            line-height: 25px;
            font-weight: bold;
            cursor: pointer;
            font-size: 16px;
            .icn-cont {
                display: inline-block;
                background: #0d67a4;
                background: linear-gradient(to top, #0d67a4 0%, #0f9afa 100%);
                fill: #fff;
                right: 15px;
                height: 25px;
                width: 25px;
                line-height: 25px;
                text-align: center;
                border-radius: 50%;
                font-size: 18px;
                border: 1px solid #0776b5;
                .icon {
                    transform: rotate(90deg);
                    width: 10px;
                    height: 10px;
                    margin-bottom: 5px;
                }
            }
        }
    }
    .top {
        float: right;
        width: 100%;
        border-bottom: 1px solid #0000;
        .logo-area {
            @media(min-width: 768px) {
                display: inline-block;
                float: right;
                width: auto;
            }
            .logo {
                height: 100px;
                display: block;
                margin: 10px 0;
>>>>>>> 3ef62278f65874bb410451faea57be42d35419cf
                img {
                    height: 100%;
                    width : auto;
                }
            }


        }
<<<<<<< HEAD





        .social {
            width  : auto;
            display: inline-flex;
            float  : left;

            a {
                background   : #000 !important;
                color        : $secondary !important;
                fill         : $secondary !important;
                border-radius: 50%;
                width        : 32px;
                height       : 32px;
                margin       : 3px;
                line-height  : 29px;


                &:hover {
                    background: $secondary !important;
                    color     : $primary !important;
                    fill      : $primary !important;
                }
            }
        }

    }

    .fnav {
        text-align         : center;
        float              : right;
        width              : 100%;
        margin             : 10px 0;
        padding            : 10px 0;
        //  text-decoration: dotted !important;

        border-top   : 2px solid $secondary;
        border-bottom: 2px solid $secondary;


        a {
            //  width: 120px;
            font-size  : 12px;
            margin     : 10px;
            display    : inline-block;
            white-space: nowrap;
            color      : #000;

            &:hover {
                text-decoration      : underline;
                text-decoration-color: $secondary;
                //  color: $secondary;

            }
        }
    }

=======
        .follow {
            display: inline-block;
            color: #fff;
            width: 100%;
            @media(min-width: 768px) {
                float: left;
                width: auto;
                margin-top: 20px;
            }
            .social {
                a {
                    background: #fff !important;
                    color: $primary !important;
                    fill: $primary !important;
                    &:hover {
                        background: #333 !important;
                        color: #ffff !important;
                        fill: #ffff !important;
                    }
                }
            }
        }
    }
    .fnav {
        text-align: right;
        float: right;
        width: 100%;
        a {
            float: right;
            width: 122px;
            margin: 10px;
            font-size: 14px;
            font-weight: bold;
            line-height: 32px;
            white-space: nowrap;
            color: #fff;
            border-bottom: 1px solid #000;
            &:hover {
                color: $primary;
            }
        }
    }
>>>>>>> 3ef62278f65874bb410451faea57be42d35419cf
    .copy {
        background     : #444;
        border-top     : 1px solid $primary;
        color          : #fff;
        float          : right;
        width          : 100%;
        text-align     : center;
        font-family    : tahoma;
        font-size      : 12px;
        padding        : 10px 0;
        direction      : ltr;
        line-height    : 30px;
        vertical-align : middle;
        display        : flex;
        align-items    : center;
        align-content  : center;
        justify-content: center;
    }
}