.container {
    width: 100%;
    max-width: 100%;
 
    @media(min-width: 1300px) {
        width: calc(100% - 330px) !important;
        max-width:1170px;
    }
    .right-col {
        width: 100%;
        @media(min-width: 1300px) {
            width: calc(100% - 330px);
        }
        @media(min-width: 1500px) {
            width: calc(100% - 330px);
        }
    }
    .left-col {
        width: 100%;
        @media(min-width: 1300px) {
            width: 330px;
        }
        @media(min-width: 1500px) {
            width:330px;
        }
    }
}