@use '../helpers/var'as *;
.article-col {}

.articles-wide {
    .title,
    .foot {
        background: transparent !important;
    }
    background: transparent !important;
}


/*
.item-article {
    border-bottom: 1px solid #dcdcdc;
    border-top: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    float: right;
    width: 100%;
    transition: all 0.35s;

    &:hover {
        background: #f5f5f5;
    }

    .img-cont {
        width: 80px;
        border-radius: 50%;



        &:after {
            padding-top: 100%;
        }


    }


    .txt-cont {
        width: calc(100% - 80px);
        padding-top: 0;

        .writer {
            float: right;
            width: 100%;
            padding: 0
        }

        h3 {
            font-size: 15px;
        }
    }
}
*/

.item-article {
    margin-bottom: 10px;
    float: right;
    width: 100%;
    background: transparent;
    background: #fff;
    box-shadow: $box-shadow-sm;
    .img-cont {
        width: 80px;
        height: 100px;
        box-shadow: $box-shadow-sm;
        transition: all 0.3s;
        border: 1px solid $secondary;
        border-radius: 0;
        &:after {
            padding-top: 100%;
        }
    }
    .writer {
        float: right;
        width: calc(100% - 80px);
        line-height: 60px;
        padding-right: 20px;
        color: $primary;
        font-weight: bolder;
        font-size: 15px;
    }
    .txt-cont {
        padding-bottom: 0;
        float: right;
        width: calc(100% - 80px);
        background: transparent;
        transition: all 0.3s ease;
        padding: 0;
        h3 {
            padding: 5px;
        }
        .writer {
            width: 100%;
            line-height: 22px;
            padding: 0 10px;
            border-bottom: 1px solid $secondary;
        }
    }
    &:hover {
        background: #f4f4f4;
        .txt-cont {
            h3 {
                color: $primary;
            }
        }
    }
    &:hover {
        .img-cont {
            //   transform: scale(1.1);
        }
    }
}