@use '../helpers/var'as *;

.cat {
    color: $primary;

    padding    : 0px 10px;
    background : $secondary;
    position   : absolute;
    top        : 10px;
    right      : 10px;
    z-index    : 33;
    font-weight: bold;
    font-size  : 12px;
    height     : 16px;
    line-height: 16px;


}


.time-cat {
    float        : right;
    border-radius: 40px;
    border       : 1px solid #dcdcdc;
    line-height  : 20px;
    margin       : 5px 0;

    background: $primary;
    overflow  : hidden;
    font-size : 12px;

    div {
        color      : #fff;
        display    : inline;
        padding    : 0 10px;
        float      : right;
        height     : 20px;
        font-family: "Noto nash";

    }


    time {
        display      : inline;
        background   : #fff;
        padding      : 0 10px;
        border-radius: 40px;

        .icon {
            width      : 12px;
            height     : 12px;
            margin-top : 4px;
            margin-left: 4px;
            fill       : $primary;
        }


    }
}



.img-cont {
    float   : right;
    width   : 100%;
    overflow: hidden;




    .icn-cont {
        position        : absolute;
        top             : 0;
        left            : 0;
        border-radius   : 50%;
        z-index         : 33;
        fill            : #fff;
        width           : 32px;
        height          : 32px;
        background-color: rgba(#000000, 0.3);
        padding         : 5px;
        text-align      : center;
    }
}

.txt-cont {
    .cat {
        position     : relative;
        float        : right;
        top          : auto;
        right        : auto;
        margin-bottom: 10px;
        background   : $secondary;
    }

    float  : right;
    width  : 100%;
    padding: 10px;

    h3 {
        float: right;
        width: 100%;
        color: #222;

        text-overflow: ellipsis;
        font-size    : 16px;
        line-height  : 23px;
        margin       : 0;
        padding      : 0;
        height       : 69px;
        font-weight  : 800;
        transition   : all 0.35s;
        overflow     : hidden;
        text-overflow: ellipsis;
    }

    .writer {
        float        : right;
        padding      : 5px 10px;
        color        : $primary;
        font-weight  : bold;
        white-space  : nowrap;
        text-overflow: ellipsis;

        .icon {
            fill       : $secondary;
            margin-left: 10px;
        }
    }

    .time {
        float    : right;
        width    : 100%;
        font-size: 12px;
        color    : $primary;

        .icon {
            width : 15px;
            height: 15px;
            fill  : $secondary;
        }
    }

    p {
        float    : right;
        width    : 100%;
        font-size: 14px;
        color    : #000;
    }
}

.item-li,
.item-card,
.item-articles,
.item-files {
    &:hover {
        .txt-cont {
            h3 {
                text-decoration      : underline;
                text-underline-offset: 3px;
                text-decoration-color: $secondary;
            }
        }
    }
}

.cats-container {
    display        : flex;
    justify-content: center;
    align-items    : center;
    overflow-x     : scroll;
    margin         : 30px 0;

}

.item-cat {
    display   : inline-block;
    width     : 150px;
    text-align: center;
    position  : relative;
    margin    : 0 5px;
    transition: all 0.3s ease;

    .img-cont {
        position: relative;
        z-index : 1;
    }

    .txt-cont {
        width           : auto;
        display         : inline-block;
        background-color: $secondary;
        float           : none;

        padding   : 0 10px;
        margin-top: -10px;
        z-index   : 22;
        width     : 120px;
        box-shadow: $box-shadow-sm;
        position  : relative;

        h3 {
            white-space: nowrap;
            color      : #000;
            font-size  : 12px;
            height     : auto !important;
            line-height: 32px;

        }
    }

    &:hover {

        transform: scale(1.1);

        .img-cont img {
            filter: grayscale(100%);
        }

        .txt-cont {
            background-color: $primary;

            h3 {
                color: #fff;
            }
        }

    }
}

.item-files {
    width        : 180px;
    border-radius: 15px;
    position     : relative;
    float        : none;
    display      : inline-block;

    .img-cont {
        position: relative;
        z-index : 1;

        &::before {
            content   : "";
            position  : absolute;
            width     : 100%;
            bottom    : 0;
            height    : 70%;
            z-index   : 1;
            background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
        }

        &:after {
            padding-top: 60%;
        }
    }

    .txt-cont {
        position            : absolute;
        bottom              : 20px;
        //     background   : rgba($secondary, 0.9);
        padding             : 0;
        border-radius       : 30px;
        z-index             : 3;
        width               : 90%;

        h3 {
            color: #fff;

            overflow     : hidden;
            text-overflow: ellipsis;
            max-height   : 90px;
            text-align   : center;
            font-size    : 14px;
            margin       : 0;
        }
    }
}

.item-album {
    float   : right;
    width   : 100%;
    position: relative;

    .pic-cont {
        float     : right;
        width     : 100%;
        position  : relative;
        margin-top: 30px;

        &:after {
            content    : "";
            display    : block;
            padding-top: 75%;
        }

        .img-cont {
            border    : 5px solid #fff;
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, .71);
            z-index   : 111;
            position  : absolute;
            width     : 90%;
            right     : 5%;
            transition: all 0.35s;

            &:after {
                padding-top: 70%;
            }

            &:nth-child(3) {
                transform        : rotate(-10deg);
                -webkit-transform: rotate(-10deg);
                -moz-transform   : rotate(-10deg);
                -o-transform     : rotate(-10deg);
                -ms-transform    : rotate(-10deg);
                z-index          : 2;
            }

            &:nth-child(2) {
                transform        : rotate(10deg);
                -webkit-transform: rotate(10deg);
                -moz-transform   : rotate(10deg);
                -o-transform     : rotate(10deg);
                -ms-transform    : rotate(10deg);
                z-index          : 1;
            }
        }
    }

    .txt-cont {
        position       : absolute;
        bottom         : 30%;
        text-align     : center;
        width          : 70%;
        right          : 15%;
        backdrop-filter: blur(4px);
        background     : rgba(#fff, 0.7);
        z-index        : 222;
        transition     : all 0.35s;

        h3 {
            height    : auto;
            max-height: 49px;
        }
    }

    &:hover {
        .pic-cont {
            .img-cont {
                &:nth-child(2) {
                    transform        : rotate(-10deg);
                    -webkit-transform: rotate(-10deg);
                    -moz-transform   : rotate(-10deg);
                    -o-transform     : rotate(-10deg);
                    -ms-transform    : rotate(-10deg);
                }

                &:nth-child(3) {
                    transform        : rotate(10deg);
                    -webkit-transform: rotate(10deg);
                    -moz-transform   : rotate(10deg);
                    -o-transform     : rotate(10deg);
                    -ms-transform    : rotate(10deg);
                }
            }
        }

        .txt-cont {
            background: rgba($primary, 0.7);

            h3 {
                color: #fff;
            }
        }
    }
}