@use '../helpers/var'as *;

.item-li {
    margin-bottom    : 10px;
    float            : right;
    width            : 100%;
    margin-bottom    : 20px;
    // box-shadow: $box-shadow-sm;
    //  background   : #fff;

    overflow     : hidden;
    border-radius: 5px;

    // padding      : 5px;
    .img-cont {

        width: 90px;

        &:after {
            padding-top: 90px;
        }


    }

    .txt-cont {
        padding-top   : 0;
        padding-bottom: 0;


        width     : calc(100% - 90px);
        height    : 90px;
        text-align: right;

        h3 {
            height   : 90px;
            font-size: 14px;

        }


    }






}

.to-li-sm {
    @media(max-width: 767px) {
        border-radius: 5px;
        padding      : 5px;
        background   : #fff;
        box-shadow   : $box-shadow-sm;


        .img-cont {
            width: 100px;

            &:after {
                padding-top: 80%;
            }
        }

        .txt-cont {
            padding-top   : 0;
            padding-bottom: 0;

            width: calc(100% - 100px);

            &:before {
                opacity: 0;
            }
        }

    }
}