@use '../helpers/var'as *;


.item-card {
    float: right;
    width: 100%;

    position: relative;
    box-shadow: $box-shadow-sm;
    background: #fff;
    margin-bottom: 10px;



    .img-cont,
    picture {
        float: right;
        width: 100%;
    }

    .txt-cont {
        float: right;
        width: 100%;



    }
}