@use '../helpers/var'as *;



/*
.item-article {
    border-bottom: 1px solid #dcdcdc;
    border-top: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    float: right;
    width: 100%;
    transition: all 0.35s;

    &:hover {
        background: #f5f5f5;
    }

    .img-cont {
        width: 80px;
        border-radius: 50%;



        &:after {
            padding-top: 100%;
        }


    }


    .txt-cont {
        width: calc(100% - 80px);
        padding-top: 0;

        .writer {
            float: right;
            width: 100%;
            padding: 0
        }

        h3 {
            font-size: 15px;
        }
    }
}
*/

.item-article {
    margin-bottom: 10px;
    float        : right;
    width        : 100%;
    box-shadow   : $box-shadow-sm;

    background   : transparent;
    padding      : 10px;
    background   : #fff;
    border-radius: 10px;


    .img-cont {

        width : 70px;
        height: 70px;

        box-shadow: $box-shadow-sm;

        border-radius: 50%;
        border       : 1px solid $primary;
        transition   : all 0.3s;

        &:after {
            padding-top: 100%;
        }



    }



    .txt-cont {
        padding-top   : 0;
        padding-bottom: 0;
        width         : calc(100% - 70px);
        background    : #fff;
        transition    : all 0.3s ease;

        .writer {
            float: right;
            width: 100%;


            line-height    : 20px;
            //   background: $primary;
            color          : $primary;
            padding        : 3px 10px;
            border-bottom  : 1px dashed $primary;
            margin-bottom  : 10px;

            font-weight: bolder;
            font-size  : 14px;

        }









    }


    &:hover {
        .img-cont {}
    }


}


.articles-slider {
    background: #FEF7FF !important;

    .swiper-slide {
        width: 270px;
    }

    .swiper {
        padding-bottom: 30px;
    }

    .swiper-pagination {
        bottom: 0;
    }
}