@use '../helpers/var'as *;
.item-li {
    float: right;
    width: 100%;
    margin-bottom: 10px;
    transition: all 0.35s;
    // box-shadow: $box-shadow-sm;
    background: #fff;
    .img-cont {
        width: 100px;
        &:after {
            padding-top: 60%;
        }
        @media(min-width:768px) and (max-width: 1199px) {
            width: 120px;
        }
        @media(min-width:1500px) {
            width: 120px;
        }
    }
    .txt-cont {
        padding-top: 0;
        padding-bottom: 0;
        width: calc(100% - 100px);
        @media(min-width: 768px) and (max-width: 1199px) {
            width: calc(100% - 120px);
            h3 {
                height: 70px;
            }
        }
        @media(min-width:1500px) {
            width: calc(100% - 120px);
            h3 {
                height: 70px;
            }
        }
    }
    &:hover {
        background: #f2f2f2;
        box-shadow: $box-shadow-sm;
    }
}

.to-li-sm {
    @media(max-width: 767px) {
        padding: 5px 0;
        background: #fff;
        box-shadow: $box-shadow-sm;
        .img-cont {
            width: 100px;
            &:after {
                padding-top: 80%;
            }
        }
        .txt-cont {
            padding-top: 0;
            padding-bottom: 0;
            width: calc(100% - 100px);
        }
    }
}