 @use '../helpers/var'as *;
 .menu-nav {
     width: 100% !important;
     @media(min-width: 768px){
         width: 400px !important;
     }
 
              background-color:rgba($third,0.933);
     &:before {
         content: "";
         position: absolute;
         height: 100%;
         width: 50%;
         right: 0;
         top: 0;
         background-color:$third;
     }
     .close {
         position: absolute;
         top: 0;
         right: 0;
         width: 50px;
         padding: 10px;
         background: $secondary;
         .icon {
             width: 28px;
             height: 28px;
             transform: rotate(45deg);
             fill: #fff;
         }
         &:hover {
             background: $secondary;
             .icon {
                 fill: #fff;
             }
         }
     }
     .social {
         text-align: center;
         display: block;
         //  background: #292825;
         float: right;
         width: 50px;
         position: absolute;
         bottom: 0;
         right: 0;
         a {
             margin: 5px;
             width: 36px;
             height: 36px;
             line-height: 36px;
         }
     }
 }
 
 .nav-side-menu {
     content-visibility: auto;
     float: left;
     width: calc(100% - 50px);
  
   //  background: $third;
     .brand {
         width: 100%;
         // background: #fff;
         text-align: center;
         float: right;
         //padding: 10px;
       
       //  box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
         display: block;
         padding: 10px;
         img {
             height: 24px;
             width: auto;
             display: inline-block;
         }
     }


     .search-form {
         width: 100%;
         margin: 10px 0;
         .form-control{
             width: 200px;
         }
     }
     .menu-list {
         height: calc(100% - 208px);
         overflow: scroll;
         float: right;
         width: 100%;
         -webkit-overflow-scrolling: touch;
         .nav {
             display: -webkit-box;
             display: -ms-flexbox;
             display: flex;
             -ms-flex-wrap: wrap;
             flex-wrap: wrap;
             padding-left: 0;
             margin-bottom: 0;
             list-style: none;
             padding-right: 0;
             .nav-item {
                 border-bottom: 1px solid $primary;
                 position: relative;
                 -webkit-transition: all .35s;
                 transition: all .35s;
                 float: right;
                 width: 100%;
                 // margin-bottom: 5px;
                 color: $primary;
                 //  box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
                 // background: #fff;
                 &.dropdown-menu {
                     height: 0;
                     overflow: hidden;
                     opacity: 0;
                     border-bottom: 1px solid $secondary;
                     background: #f4f4f4;
                     transition: all 0.3s;
                     padding-right: 10px;
                     .nav-item {
                         border-bottom: 1px solid #fff;
                     }
                     &.show {
                         height: auto;
                         opacity: 1;
                     }
                 }
                 &.active {
                     a {
                         background: #f4f4f4;
                     }
                 }
                 a {
                     display: block;
                     float: right;
                     width: 100%;
                     color:#fff;
                     font-weight: 700;
                     line-height: 32px;
                     font-size: 16px;
                     // font-size: 1.2rem;
                     padding: 6px 10px 6px 0;
                     position: relative;
                     &:after {
                         content: "";
                         right: 0;
                         top: 0;
                         height: 100%;
                         width: 0;
                         position: absolute;
                         background: $graidient;
                         transition: all 0.6s ease-in;
                         z-index: -1;
                     }
                     .icon {
                         fill: $secondary;
                         height: 11px;
                         position: relative;
                         text-align: left;
                         line-height: 34px;
                         display: inline-block;
                         width: 20px;
                     }
                     h2 {
                         display: inline-block;
                         width: calc(100% - 26px);
                         margin: 0 !important;
                         font-size: inherit !important;
                         line-height: inherit !important;
                         font-weight: 700;
                         font-weight: inherit !important;
                     }
                     &:hover {
                         background: transparent;
                         color: #fff;
                         &:after {
                             width: 100%;
                         }
                     }
                 }
             }
         }
         .flex-column {
             -webkit-box-orient: vertical !important;
             -webkit-box-direction: normal !important;
             -ms-flex-direction: column !important;
             flex-direction: column !important;
         }
     }
     .badges {
         margin: 5px 0;
         padding: 0;
         text-align: center;
         a {
             margin: 0px 0;
             height: 35px;
         }
     }
 }