 @use '../../critical/helpers/var'as *;
<<<<<<< HEAD

 .nc1 {
     .list {
         .item-li {
             border-bottom: 1px dashed #dcdcdc;
             border-top   : 1px dashed #dcdcdc;
             margin-bottom: 0;
             padding      : 10px 0;

             @media(min-width: 992px) {
                 &:first-child {
                     border: 0;
                 }

                 &:last-child {
                     border: 0;
                 }
             }
         }
     }

     .item-li .txt-cont h3 {
         height: 70px;
     }


     &.bg2 {

         .item-bg {
             margin-bottom: 20px;

             .img-cont {
                 &:after {
                     padding-top: 90%;
                 }
             }

             .txt-cont {
                 h3 {
                     text-align : center;
                     font-weight: bold;
                 }
             }
         }
     }



     &.cards {

         .img-cont {
             border-bottom-left-radius : 0;
             border-bottom-right-radius: 0;
         }

         .col-lg-6:first-child {
             .item-card {
                 .img-cont {
                     &:after {
                         @media(min-width: 992px) {
                             padding-top: 70%;
                         }
                     }
                 }

                 .txt-cont {
                     background-color: #dcdcdc;
                 }
             }
         }


         &.sport {
             .col-lg-6:first-child {
                 .txt-cont {
                     background: #237100;

                     h3,
                     p,
                     .time {
                         color: #fff;
                     }
                 }
             }
         }

         &.art {
             .col-lg-6:first-child {
                 .txt-cont {
                     background: $primary;

                     h3,
                     p,
                     .time {
                         color: #fff;
                     }
                 }
             }
         }
     }




=======
 .nc1 {
     .cont {
         padding: 0;
     }
     .item-li {
         border-bottom: 1px solid #dcdcdc;
         padding: 15px;
         margin: 0;
         &:last-child {
             border-bottom: 0;
         }
         .img-cont,
         {
             border: 2px solid #fff;
             box-shadow: $box-shadow-sm;
             &:after {
                 padding-top: 56.25%;
             }
         }
         @media(min-width: 768px) {
             width: 50%;
             border-left: 1px solid #dcdcdc;
             &:nth-child(5),
             &:nth-child(4) {
                 background: #e7e7e7 !important;
             }
         }
         @media(min-width: 1200px) and (max-width: 1300px) {
             width: 100%;
         }
     }
     .item-li.lg {
         background: #e7e7e7;
         min-width: 100%;
         .img-cont,
         picture {
             width: 100%;
             &:after {
                 padding-top: 56.25%;
             }
         }
         .txt-cont {
             width: 100%;
             padding-top: 10px;
             h3 {
                 color: #00639a;
                 height: auto;
                 font-size: 18px;
             }
         }
         @media(min-width: 768px) {
             .txt-cont {
                 padding: 5px 20px;
                 h3 {
                     font-size: 20px;
                 }
             }
             .img-cont,
             picture,
             .txt-cont {
                 width: 50%;
             }
         }
     }
>>>>>>> 3ef62278f65874bb410451faea57be42d35419cf
 }