 @use '../../critical/helpers/var'as *;

 .nc1 {
     .list {
         .item-li {
             border-bottom: 1px dashed #dcdcdc;
             border-top   : 1px dashed #dcdcdc;
             margin-bottom: 0;
             padding      : 10px 0;

             @media(min-width: 992px) {
                 &:first-child {
                     border: 0;
                 }

                 &:last-child {
                     border: 0;
                 }
             }
         }
     }

     .item-li .txt-cont h3 {
         height: 70px;
     }


     &.bg2 {

         .item-bg {
             margin-bottom: 20px;

             .img-cont {
                 &:after {
                     padding-top: 90%;
                 }
             }

             .txt-cont {
                 h3 {
                     text-align : center;
                     font-weight: bold;
                 }
             }
         }
     }



     &.cards {

         .img-cont {
             border-bottom-left-radius : 0;
             border-bottom-right-radius: 0;
         }

         .col-lg-6:first-child {
             .item-card {
                 .img-cont {
                     &:after {
                         @media(min-width: 992px) {
                             padding-top: 70%;
                         }
                     }
                 }

                 .txt-cont {
                     background-color: #dcdcdc;
                 }
             }
         }


         &.sport {
             .col-lg-6:first-child {
                 .txt-cont {
                     background: #237100;

                     h3,
                     p,
                     .time {
                         color: #fff;
                     }
                 }
             }
         }

         &.art {
             .col-lg-6:first-child {
                 .txt-cont {
                     background: $primary;

                     h3,
                     p,
                     .time {
                         color: #fff;
                     }
                 }
             }
         }
     }




 }