 @use '../../critical/helpers/var'as *;

 .nc1 {

     .item-bg {
         border-radius: 5px;
         overflow: hidden;

         .img-cont {
             &:before {
                 opacity: 0;
             }

             &:after {
                 @media(min-width: 768px) {
                     padding-top: 308px;
                 }

                 @media(min-width: 992px) {
                     padding-top: 294px;
                 }

                 @media(min-width: 1400px) {
                     padding-top: 385px;
                 }

             }
         }

         .txt-cont {
             background: rgba($third, 0.8);
             bottom: 0;
             border-top-left-radius: 10px;
             border-top-right-radius: 10px;
             text-align: center;


             @media(min-width: 1400px) {

                 padding: 15px;
                 width: 70%;
                 right: 15%;


             }
         }
     }

     .item-li {

         .img-cont {
             @media(min-width: 992px) {
                 width: 150px;

                 &:after {
                     padding-top: 60%;
                 }
             }

             @media(min-width: 992px) {
                 width: 150px;
             }

             @media(min-width: 1400px) {
                 width: 200px;


             }
         }

         .txt-cont {
             @media(min-width: 992px) {
                 width: calc(100% - 150px);
             }

             @media(min-width: 992px) {
                 width: calc(100% - 150px);
             }

             @media(min-width: 1400px) {
                 width: calc(100% - 200px);
                 padding: 15px;

                 h3 {
                     height: auto;
                 }
             }
         }
     }
 }