@use '../../critical/helpers/var'as *;



.nc2 {



    .item-li.lg {


        .img-cont {
            width: 100%;

            @media(min-width: 768px) {
                width: 50%;


                &:after {
                    padding-top: 56.25%;
                }

            }


        }

        .txt-cont {
            width: 100%;

            p {
                display: none;
            }

            @media(min-width: 768px) {
                width: 50%;

                h3 {
                    max-height: 70px;
                    height: auto;
                }
            }

            @media(min-width: 1200px) {

                p {
                    display: block;
                }

            }


        }
    }
}