@use '../../critical/helpers/var'as *;


.ncfiles {

    position  : relative;
    background: $primary-light;


    .title {
        background   : transparent;
        border-bottom: 1px solid $secondary;
        text-align   : center;

        &:before,
        &:after {
            opacity: 0;
        }
    }


    .swiper-slide {
        width: 280px;

        .item-files {
            width: 100%;

            .img-cont {
                &:after {
                    padding-top: 250px;
                }
            }
        }
    }
}


.swiper-button-next,
.swiper-button-prev {
    width : 30px;
    height: 30px;

    &:after {
        font-size: 20px !important;
        color    : #fff;
    }

    background   :$primary;
    border-radius: 5px;

    &:hover {
        background: $secondary;
    }
}