.nchalf {
    .cont {
        // padding-bottom: 0;
    }

    .item-li {








        .img-cont {

            @media(min-width: 1500px) {


                width: 150px;


                &:after {
                    padding-top: 56.25%;
                }
            }

        }

        .txt-cont {

            @media(min-width: 1500px) {
                width: calc(100% - 150px);
            }

        }

        &:hover {
            background: #f4f4f4;
        }
    }
}