@use '../../critical/helpers/var'as *;

 
 .sec-sport{
     float: right;
     width: 100%;
     position: relative;
     padding: 20px 0;
     background: url("../images/sport-bg.jpg") no-repeat center;
     background-size: cover;
     margin-bottom: 20px;


     .title{
         h2{
             color: #fff;
         }
     }

     .cont{
         .item-card{
             background: transparent;
             .txt-cont{
                 background: transparent;
                 h3{
                     color: #fff;
                 }
             }
         }
     }
 }