@use '../../critical/helpers/var'as *;


.nc-topread {
<<<<<<< HEAD
    .item-li.lg {
        padding-right: 15px;

        .img-cont {




            @media(min-width:575px) {
                width: 100%;

                &:after {
                    padding-top: 60%;
                }
            }

            @media(min-width:768px) {
                width: 120px;

                &:after {
                    padding-top: 80%;
                }
            }

            @media(min-width:1200px) {
                width: 180px;

                &:after {
                    padding-top: 60%;
                }
            }
        }

        .txt-cont {



            @media(min-width:575px) {
                width: 100%;
            }

            @media(min-width:768px) {
                width: calc(100% - 120px);
            }

            @media(min-width:1200px) {
                width: calc(100% - 180px);
            }

            h3 {
                display    : flex;
                align-items: center;
            }
        }


        .num {
            color      : $secondary;
            text-shadow: $box-shadow-sm;
            font-size  : 3.5rem;
            position   : absolute;
            right      : 8px;
            top        : 5px;
            z-index    : 22;
            line-height: 90px;
        }
    }
=======


    float: right;
    width: 100%;



    @media(min-width: 1200px) {

        .item-card {
            .img-cont {
                &:after {
                    padding-top: 50%;
                }
            }
        }

        .item-li {
            margin-bottom: 25px;

            .img-cont {
                width: 148px;

                &:after {
                    padding-top: 124px;
                }

            }

            .txt-cont {
                width: calc(100% - 148px);
                padding: 15px 10px;
            }
        }
    }



>>>>>>> 3ef62278f65874bb410451faea57be42d35419cf
}