.ncwide {


    .cont>.row> {

        div:nth-child(2) {
            @media(min-width:992px) {

                order: -1;

            }
        }







    }

    .item-li {


        .img-cont {
            &::after {
                padding-top: 60%;

                @media(min-width: 1200px) and (max-width: 1499px) {
                    padding-top: 85%;
                }

            }
        }


    }

    .item-bg {



        .img-cont {
            &::after {
                @media(min-width: 992px) {
                    padding-top: 438px;

                }

                @media(min-width: 1200px) {
                    padding-top: 86%;
                }

                @media(min-width: 1600px) {
                    padding-top: 82%;
                }
            }
        }


        .txt-cont {
            h3 {
                @media(min-width: 992px) {
                    font-size: 30px;
                    line-height: 42px;
                    text-align: center;
                }
            }
        }



    }



}